<header>
    <link rel="stylesheet" href="style.css" />
</header>
<body>

<section class="choose-school">
  <h2 class="choose-school__title">
    Choose the School That Fits You Best
  </h2>

  <div class="choose-school__grid">
    <!-- Card 1 -->
    <div class="school-card card-1">
      <div class="school-card__content">
        <h3>Pre-Schools & Early Learning Centres</h3>
        <p>
          Nurturing foundational skills for toddlers and pre-primary children.
        </p>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="school-card card-2">
      <div class="school-card__content">
        <h3>K–12 CBSE Day Schools</h3>
        <p>
         Reputed schools offering complete schooling from Kindergarten to Grade 12.
        </p>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="school-card card-3">
      <div class="school-card__content">
        <h3>Heritage to New-Age Schools</h3>
        <p>
          Time-tested schools to innovative pedagogy, tech enabled, future-ready schools
        </p>
      </div>
    </div>

    <!-- Card 4 -->
    <div class="school-card card-4">
      <div class="school-card__content">
        <h3>International Curriculum Schools</h3>
        <p>
          Excellence-focused learning for competitive and global readiness.
        </p>
      </div>
    </div>
  </div>
</section>

</body>