<!-- 
Online HTML, CSS and JavaScript editor to run code online.
-->
<head>
<link rel="stylesheet" href="style.css" />
</head>
<body>
    <section class="schools"  id="participating-schools">
        <h2 class="schools__title">Participating Schools</h2>
        <div class="logo-slider" tabindex="0">
        <div class="logo-slider__track">
                <!-- set 1 -->
            <div class="logo-card logo-card--1"><img src="../../images/pss17.jpg"></div>
            <div class="logo-card logo-card--2"><img src="../../images/pss11.jpg"></div>
            <div class="logo-card logo-card--3"><img src="../../images/pss12.jpg"></div>
            <div class="logo-card logo-card--4"><img src="../../images/pss13.png"></div>
            <div class="logo-card logo-card--5"><img src="../../images/pss14.png"></div>
            <div class="logo-card logo-card--6"><img src="../../images/pss15.png"></div>
            <div class="logo-card logo-card--7"><img src="../../images/pss16.jpg"></div>

            <div class="logo-card logo-card--1"><img src="../../images/pss17.jpg"></div>
            <div class="logo-card logo-card--2"><img src="../../images/pss11.jpg"></div>
            <div class="logo-card logo-card--3"><img src="../../images/pss12.jpg"></div>
            <div class="logo-card logo-card--4"><img src="../../images/pss13.png"></div>
            <div class="logo-card logo-card--5"><img src="../../images/pss14.png"></div>
            <div class="logo-card logo-card--6"><img src="../../images/pss15.png"></div>
            <div class="logo-card logo-card--7"><img src="../../images/pss16.jpg"></div>
            </div>
        </div>

            <div class="logo-slider logo-slider--reverse" tabindex="0">
        <div class="logo-slider__track">

            <!-- set 1 -->
            <div class="logo-card logo-card--1"><img src="../../images/pss17.jpg"></div>
            <div class="logo-card logo-card--2"><img src="../../images/pss11.jpg"></div>
            <div class="logo-card logo-card--3"><img src="../../images/pss12.jpg"></div>
            <div class="logo-card logo-card--4"><img src="../../images/pss13.png"></div>
            <div class="logo-card logo-card--5"><img src="../../images/pss14.png"></div>
            <div class="logo-card logo-card--6"><img src="../../images/pss15.png"></div>
            <div class="logo-card logo-card--7"><img src="../../images/pss16.jpg"></div>

                <!-- set 2 (duplicate ONLY for slider 2) -->
            <div class="logo-card logo-card--1"><img src="../../images/pss17.jpg"></div>
            <div class="logo-card logo-card--2"><img src="../../images/pss11.jpg"></div>
            <div class="logo-card logo-card--3"><img src="../../images/pss12.jpg"></div>
            <div class="logo-card logo-card--4"><img src="../../images/pss13.png"></div>
            <div class="logo-card logo-card--5"><img src="../../images/pss14.png"></div>
            <div class="logo-card logo-card--6"><img src="../../images/pss15.png"></div>
            <div class="logo-card logo-card--7"><img src="../../images/pss16.jpg"></div>
            </div>
        </div>
    </section>
</body>
